<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unibo.cs.jonus.waidrec"
    android:versionCode="3"
    android:versionName="0.0.3" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.unibo.cs.jonus.waidrec.RecognizerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="it.unibo.cs.jonus.waidrec.RecognizerService"
            android:label="@string/recognizer_service_name" >
        </service>

        <provider
            android:name="it.unibo.cs.jonus.waidrec.EvaluationsProvider"
            android:authorities="it.unibo.cs.jonus.waidrec.evaluationsprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name="it.unibo.cs.jonus.waidrec.Magnitude"
            android:label="@string/title_activity_magnitude"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unibo.cs.jonus.waidrec.Recognizer" />
        </activity>
        <activity
            android:name="it.unibo.cs.jonus.waidrec.TrainingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unibo.cs.jonus.waidrec.RecognizerActivity" />
        </activity>

        <service
            android:name="it.unibo.cs.jonus.waidrec.TrainingService"
            android:label="@string/recognizer_service_name" >
        </service>

        <activity
            android:name="it.unibo.cs.jonus.waidrec.HistoryActivity"
            android:label="@string/title_activity_history"
            android:launchMode="singleTop"
            android:parentActivityName="it.unibo.cs.jonus.waidrec.RecognizerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unibo.cs.jonus.waidrec.RecognizerActivity" />
        </activity>
    </application>

</manifest>