<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unibo.cs.jonus.waidrec"
    android:versionCode="6"
    android:versionName="0.1.1" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="it.unibo.cs.jonus.waidrec.RecognizerService"
            android:label="@string/recognizer_service_name" >
        </service>

        <provider
            android:name="it.unibo.cs.jonus.waidrec.EvaluationsProvider"
            android:authorities="it.unibo.cs.jonus.waidrec.evaluationsprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <service
            android:name="it.unibo.cs.jonus.waidrec.TrainingService"
            android:label="@string/recognizer_service_name" >
        </service>

        <activity
            android:name="it.unibo.cs.jonus.waidrec.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>